<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/chat.css')}} " />
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css')}} " />
    <link rel="stylesheet" href="{{ url_for('static', path='css/loading.css')}} " />
    <script src="{{ url_for('static', path='js/chat.js') }}" defer></script>
</head>

<body>
    <div id="chat-container">
        <div id="chat">
            {% for el in history %}
            <div class="{{ el.role }}-signature">
                {% if el.role == "assistant" %}
                Assistant
                {% else %}
                You
                {% endif %} | {{ el.timestamp }}</div>
            <div class="message {{ el.role }}">{{ el.content }}</div>
            {% endfor %}
        </div>
        <div id="input-wrapper">
            <textarea id="input" placeholder="Ask me anything..." rows="1"></textarea>
            <button onclick="sendMessage()" id="send-btn"></button>
        </div>
    </div>
</body>

</html>