<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot | snagel.io</title>
    <link rel="icon" href="{{ url_for('static', path='img/fav/favicon.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/chat.css')}} " />
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css')}} " />
    <link rel="stylesheet" href="{{ url_for('static', path='css/loading.css')}} " />
    <link rel="stylesheet" href="{{ url_for('static', path='css/prism.css')}} " />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js" defer></script>
    <script src="{{ url_for('static', path='js/prism.js')}}" defer></script>
    <script type="module" src="{{ url_for('static', path='js/chat.js')}}" defer></script>
</head>

<body>
    <div id="chat-container">
        <div id="chat">
            <div class="assistant-signature">Assistant | <span class="timestamp" data-utc="{{ now }}"></span>
            </div>
            <div class="message assistant" data-raw="Hello! I’m Sebastian's AI assistant, dedicated to providing you with all the information you need
                about Sebastian's professional life. 

Whether you’re looking for details about his education, work experience, projects, skills, or how he fits into a team culture, I’m here to help! My aim is to help recruiters, hiring managers, and potential colleagues get a clear picture of Sebastian’s qualifications and character. 
If you have any specific questions about his CV or projects, feel free to ask!

If you have any questions that I can’t answer or if you’d like to connect with Sebastian directly for further discussion, you can reach him via email at sebastian.nagel1@gmx.de or just shoot him a message on [LinkedIn](https://www.linkedin.com/in/sebastiannagel1991/). He’ll be more than happy to chat and provide any additional insights you’re looking for.

Let’s dive into the data together!">
            </div>
            {% for el in history %}
            <div class="{{ el.role }}-signature">
                {% if el.role == "assistant" %}
                Assistant
                {% else %}
                You
                {% endif %} | <span class="timestamp" data-utc="{{ el.created_at.isoformat() }}Z"></span></div>
            <div class="message {{ el.role }}">{{ el.content }}</div>
            {% endfor %}
        </div>
        <div class="col" id="input-wrapper">
            <!-- <div class="suggestion-wrapper">
                <div class="arrow left">←</div>
                <div class="tags">
                    <div class="tag green suggestion">What are Sebastian's strengths?</div>
                    <div class="tag green suggestion">Where do you see Sebastian in 5 years?</div>
                    <div class="tag green suggestion">What value would he bring to our DS Team?</div>
                </div>
                <div class="arrow right">→</div>
            </div> -->
            <div class="input" id="input">
                <textarea id="input-text" placeholder="Ask me anything..." rows="1"></textarea>
                <button id="send-btn"></button>
            </div>
        </div>
    </div>
</body>

</html>